doctype html
html
  head
    title= title
  body
    block content

    p THAT'S A PRODUCT


    iframe(id='poc-iframe', title='Poc Iframe', width='300', height='300', src='http://poc-iframe-service.test')

